<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       id="webApp_ID" version="2.0">
    
    <display-name>Semeru_JSF_Maven</display-name>
    
    <welcome-file-list>
        <wecome-file>index.jsp</wecome-file>
    </welcome-file-list>
    
    <session-config>30</session-config>
    
    <dependency>
        <groupId>org.primefaces.themes</groupId>
        <artifactId>south-street</artifactId>
        <version>1.0.4</version>
    </dependency>
    
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>south-street</param-value>            
    </context-param>
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>java.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Resources Servlet</servlet-name>
        <servlet-class>java.primefaces.resources.ResourcesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Resources Servlet</servlet-name>
        <url-pattern>*.primefaces_resources</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
        <display_name>Bloqueia o Browser ao acessar arquivos xhtml</display_name>
        <web-resources-collection>
            <web-resource-name>xhtml files</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
        </web-resources-collection>
    </security-constraint>
    
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
</web-app>

