<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/semeru_jsf_mavenDB?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    
    
    <!-- Habilita a exibição do SQL gerado pelo Hibernate e Formata-o -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    
    <!-- Habilita a atualização automática da estrutura da tabela pelo Hibernate-->
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <!-- Configuração do Pool de Conexões-->
    <property name="hibernate.c3p0.min_size">1</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">80</property>
    <property name="hibernate.c3p0.idle_test_period">300</property>
    
    <!-- Lista de Entidades-->
    <mapping class="br.com.semeru.model.entities.Cidade" />
    <mapping class="br.com.semeru.model.entities.Endereco" />
    <mapping class="br.com.semeru.model.entities.Estado" />
    <mapping class="br.com.semeru.model.entities.Pessoa" />
    <mapping class="br.com.semeru.model.entities.Sexo" />
    <mapping class="br.com.semeru.model.entities.TipoEndereco" />
    <mapping class="br.com.semeru.model.entities.TipoLogradouro" />
    
    
  </session-factory>
</hibernate-configuration>
